body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 30px;
  }

.App {
    text-align: center;
    width: 550px;
    height: 450px;
    font-family: fantasy;
    
}

.button {
    padding: 0.6rem;
    margin:15rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #757b7e;
    color: aliceblue;
    cursor: pointer;
    font-size: 2rem;
    box-sizing: border-box;
    border: none;
    border-radius: 45px;
    height: 5rem;

}
.button:hover{
    background-color: rgb(175, 174, 174);
    color: black;
}